<html>
    <head>
        <title>E-seva </title>
        <link rel = "icon" href = "../static/tsgovt.png" type = "image/x-icon">
    </head>
    <style>
        .header {
        padding: .5px;
        text-align: center;
        background: #1abc9c;
        color: #3263cd; 
        text-shadow: #fff 2px 2px;
        font-size: 30px;
        }
        #poster {
            padding: 10px;
            height : 400px;
            width : 400px;
        }
        h2 {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <div class="header">
        <img src='../static/tspolice.png' align='left' height="159px" width="150px">
        <h1>TS Travel Pass</h1>
    </div>
    <img src="../static/poster.png" align='right' id="poster">
    <img src="../static/poster1.png" align='right' id="poster">
    
    <h2>Name: {{f}}</h2>
    <h2>Mobile: {{phno}}</h2>
    <h2>Email: {{mail}}</h2>
    <h2>From State: {{cs}}</h2>
    <h2>Current place: {{place}}</h2>
    <h2>To State: {{des_s}}</h2>
    <h2>Destination place: {{destination}}</h2>
    <h2>Travelling date: {{md}}</h2>
    <h2>Returning date: {{cd}}</h2>
    <h2>E-pass Status: {{es}}</h2>

    </body>
</html>